attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1599308529326/work
bootstrapped==0.0.2
certifi==2020.6.20
cftime @ file:///home/conda/feedstock_root/build_artifacts/cftime_1602504442264/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1598400192773/work
cycler==0.10.0
cytoolz==0.11.0
dask==0.15.2
decorator==4.4.2
imagecodecs-lite @ file:///home/conda/feedstock_root/build_artifacts/imagecodecs-lite_1602583032054/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1594044661732/work
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1602263269022/work
imutils @ file:///home/conda/feedstock_root/build_artifacts/imutils_1594125970844/work
iniconfig @ file:///home/conda/feedstock_root/build_artifacts/iniconfig_1596221474428/work
kaleido @ file:///home/jmmease/anaconda3/conda-bld/python-kaleido_1596620303641/work/kaleido-0.0.3-py2.py3-none-manylinux2014_x86_64.whl
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1602517217830/work
lxml @ file:///home/conda/feedstock_root/build_artifacts/lxml_1602413153219/work
matplotlib @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-suite_1602600748404/work
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1598643641143/work
netCDF4==1.4.1
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1598210780226/work
numpy==1.17.0
olefile==0.46
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1589925210001/work
pandas==0.25.0
patsy==0.5.1
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1602493095698/work
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1594904902831/work
pluggy @ file:///home/conda/feedstock_root/build_artifacts/pluggy_1602337419924/work
psutil @ file:///home/conda/feedstock_root/build_artifacts/psutil_1602264037331/work
py @ file:///home/conda/feedstock_root/build_artifacts/py_1593088446458/work
PyMySQL @ file:///home/conda/feedstock_root/build_artifacts/pymysql_1599741532691/work
pyparsing==2.4.7
pytest==6.1.1
python-dateutil==2.8.1
pytz==2020.1
PyWavelets @ file:///home/conda/feedstock_root/build_artifacts/pywavelets_1602504441497/work
PyYAML==5.4
requests==2.20.0
retrying==1.3.3
scikit-image==0.16.2
scipy==1.3.1
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
statsmodels @ file:///home/conda/feedstock_root/build_artifacts/statsmodels_1602599907843/work
tifffile==2019.7.26.2
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1589469402899/work
toolz @ file:///home/conda/feedstock_root/build_artifacts/toolz_1600973991856/work
tornado @ file:///home/conda/feedstock_root/build_artifacts/tornado_1602488894481/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1601765966131/work
pingouin
