imageio==2.37.0
imutils==0.5.4
matplotlib==3.10.3
metpy==1.7.0
netcdf4==1.7.2
numpy==2.3.1
pandas==2.3.0
Pillow==11.3.0
plotly==6.1.1
pyproj==3.7.1
pyresample==1.34.2
PyYAML==6.0.2
PyYAML==6.0.2
scipy==1.16.0
setuptools==80.9.0
xarray==2025.6.1
pytest==8.3.4
pint==0.24.4
scikit-image==0.25.1
scipy==1.15.1
xarray==2025.1.2
eofs==2.0.0
cartopy==0.24.0
scikit-learn==1.6.1
cmocean==4.0.3
kaleido==1.0.0
